/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1a1a1a;
  color: #fff;
}

/* Container */
.container {
  position: relative;
  width: 700px;
  height: 400px;
  background: #222;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 20px rgba(94, 255, 50, 0.619);
}

/* Forms */
.form-box {
  width: 50%;
  padding: 40px;
  transition: 0.7s ease;
}

.form-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

/* Input */
.input-box {
  position: relative;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-bottom: 2px solid #aaa;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: #aaa;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  font-size: 12px;
  color: #2e8b57;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 18px;
  color:#2e8b57;
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #2e8b57, #adff66);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

/* Switch text */
.switch {
  margin-top: 15px;
  text-align: center;
}

.switch a {
  color: #2e8b57;
  text-decoration: none;
}

.switch a:hover {
  text-decoration: underline;
}

/* Animation (Login / Signup Slide) */
.form-box.register {
  position: absolute;
  right: -100%;
  top: 0;
  height: 100%;
  background: #222;
}

.container.active .form-box.login {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(5px);
}

.container.active .form-box.register {
  right: 0;
  transition: 0.7s ease;
}
